<!-- Footer Area Start Here -->
<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                    <div class="single-footer-widget m-0">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="/assets/images/logo/logo.png" alt="Logo Image">
                            </a>
                        </div>
                        <p class="desc-content">{{"footerCAption" | translate}}</p>
                        <div class="social-links">
                            <ul class="d-flex">
                                <li>
                                    <a class="border rounded-circle" title="Facebook">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="border rounded-circle" title="Vimeo">
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-1 col-custom">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">{{"Quicklink" | translate}}</h2>
                        <ul class="widget-list">
                            <li><a routerLink="/home">{{"Home" | translate}}</a></li>
                            <li><a a routerLink="/about-Us">{{"AboutUS" | translate}}</a></li>
                            <li><a>{{"CERTIFICATE" | translate}}</a></li>
                            <li><a>{{"OURNEWS" | translate}} </a></li>
                            <li><a routerLink="/contact-us">{{"ContactUS" | translate}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">{{"ContactUS" | translate}}</h2>
                        <div class="widget-body">
                            <address>{{"address" | translate}}<br>{{"phone" | translate}}: 
                                 761 282 01552
                                <br>{{"email" | translate}}: https://example.com</address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container custom-area">
            <div class="row">
                <div class="col-12 text-center col-custom">
                    <div class="copyright-content">
                        <p>{{"copyRight" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=+201552282761&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
    class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<!-- Footer Area End Here -->