<!-- Header Area Start Here -->
<header class="main-header-area">
    <!-- Header Top Area End Here -->
    <!-- Main Header Area Start -->
    <div class="main-header">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-lg-12 col-custom">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-xl-2 col-sm-6 col-6 col-custom">
                            <div class="header-logo d-flex align-items-center">
                                <a href="index.html">
                                    <img class="img-full" src="assets/images/logo/logo.png" alt="Header Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-xl-8 position-static d-none d-lg-block col-custom">
                            <nav class="main-nav d-flex justify-content-center">
                                <ul class="nav">
                                    <li>
                                        <a routerLink="/home">
                                            <span class="menu-text"> {{"Home" | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/about-Us">
                                            <span class="menu-text">{{"AboutUS" | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="menu-text">{{"OurProducts" | translate}}</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="mega-menu dropdown-hover">
                                            <div class="menu-colum"
                                                *ngFor="let category of productService.CategoriesWithProducts">
                                                <ul>
                                                    <li><span
                                                            class="mega-menu-text">{{category.Title | translate}}</span>
                                                    </li>
                                                    <li *ngFor="let product of category.Products"><a
                                                            [routerLink]="['/product-details',product.Id]">{{product.Title | translate}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="menu-text">{{"CERTIFICATE" | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="menu-text"> {{"PHOTOGALLARY" | translate}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="menu-text">{{"OURNEWS" | translate}} </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/contact-us">
                                            <span class="menu-text">{{"ContactUS" | translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-1 col-xl-2 col-sm-6 col-6 col-custom">
                            <div class="header-right-area main-nav">
                                <ul class="nav">
                                    <li class="sidemenu-wrap d-none d-lg-flex">
                                        <a>EN <i class="fa fa-caret-down"></i> </a>
                                        <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-language">
                                            <li><a>{{"AR" | translate}}</a></li>
                                            <li><a>{{"EN" | translate}}</a></li>
                                        </ul>
                                    </li>
                                    <li class="minicart-wrap">

                                    </li>
                                    <li class="mobile-menu-btn d-lg-none">
                                        <a class="off-canvas-btn">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sticky Header End Here -->
    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper" id="mobileMenu">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="fa fa-times"></i>
            </div>
            <div class="off-canvas-inner">

                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search product...">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- mobile menu start -->
                <div class="mobile-navigation">

                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a routerLink="/home">
                                    {{"Home" | translate}}
                                </a>
                            </li>
                            <li>
                            <li>
                                <a routerLink="/about-Us">
                                    {{"AboutUS" | translate}}
                                </a>
                            </li>

                            <li class="menu-item-has-children"><a>{{"OurProducts" | translate}}</a>
                                <ul class="dropdown" *ngFor="let category of productService.CategoriesWithProducts">
                                    <li class="menu-item-has-children">{{category.Title | translate}}
                                        <ul class="dropdown" *ngFor="let product of category.Products">
                                            <li><a
                                                    [routerLink]="['/product-details',product.Id]">{{product.Title | translate}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a>
                                    {{"CERTIFICATE" | translate}}
                                </a>
                            </li>

                            <li>
                                <a>
                                    {{"PHOTOGALLARY" | translate}}
                                </a>
                            </li>

                            <li>
                                <a>
                                    {{"OURNEWS" | translate}}
                                </a>
                            </li>

                            <li>
                                <a routerLink="/contact-us">
                                    {{"ContactUS" | translate}}
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
                <div class="header-top-settings offcanvas-curreny-lang-support">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a>My Account</a>
                                <ul class="dropdown">
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register-2.html">Register</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a>Currency:USD</a>
                                <ul class="dropdown">
                                    <li><a>USD - US Dollar</a></li>
                                    <li><a>EUR - Euro</a></li>
                                    <li><a>GBP - British Pound</a></li>
                                    <li><a>INR - Indian Rupee</a></li>
                                    <li><a>BDT - Bangladesh Taka</a></li>
                                    <li><a>JPY - Japan Yen</a></li>
                                    <li><a>CAD - Canada Dollar</a></li>
                                    <li><a>AUD - Australian Dollar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <div class="top-info-wrap text-left text-black">
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="info%40yourdomain.html">(1245) 2456 012</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="info%40yourdomain.html">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="off-canvas-widget-social">
                        <a title="Facebook-f"><i class="fa fa-facebook-f"></i></a>
                        <a title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a title="Youtube"><i class="fa fa-youtube"></i></a>
                        <a title="Vimeo"><i class="fa fa-vimeo"></i></a>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
</header>
<!-- Header Area End Here -->
<!-- Begin Slider Area One -->